name: ci

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
    - cron: "12 3 * * *"

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: rustup component add rustfmt
      - run: cargo fmt --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: rustup component add clippy
      - uses: Swatinem/rust-cache@v2
      - run: cargo clippy --all-targets -- -D warnings -D clippy::all
        working-directory: error
      - run: cargo clippy --all-targets -- -D warnings -D clippy::all
        working-directory: client
      - run: cargo clippy --all-targets --features reqwest-012 -- -D warnings -D clippy::all
        working-directory: client
      - run: cargo clippy --all-targets --features reqwest-013 -- -D warnings -D clippy::all
        working-directory: client
      - run: cargo clippy --all-targets -- -D warnings -D clippy::all
        working-directory: server
      - run: cargo clippy --all-targets --features grpc -- -D warnings -D clippy::all
        working-directory: server
      - run: cargo clippy --all-targets -- -D warnings -D clippy::all
        working-directory: build
      - run: cargo clippy --all-targets -- -D warnings -D clippy::all
      - run: cargo clippy --all-targets --all-features -- -D warnings -D clippy::all

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: Swatinem/rust-cache@v2
      - run: cargo test
        working-directory: error
      - run: cargo test
        working-directory: client
      - run: cargo test --features reqwest-012
        working-directory: client
      - run: cargo test --features reqwest-013
        working-directory: client
      - run: cargo test
        working-directory: server
      - run: cargo test --features grpc
        working-directory: server
      - run: cargo test
        working-directory: build
      - run: cargo test
      - run: cargo test --all-features

  test_msv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: rustup override set 1.85.0 && rustup toolchain install nightly
      - uses: Swatinem/rust-cache@v2
      - run: cargo +nightly update -Z direct-minimal-versions
      - run: cargo test
      - run: cargo test --all-features

  rustdoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: Swatinem/rust-cache@v2
      - run: cargo doc --all-features --no-deps
        env:
          RUSTDOCFLAGS: -D warnings

  deny:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: taiki-e/install-action@v2
        with: { tool: cargo-deny }
      - run: cargo deny check

  semver_checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@v2
        with: { tool: cargo-semver-checks }
      - run: cargo semver-checks check-release

  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: taiki-e/install-action@v2
        with: { tool: typos-cli }
      - run: typos
